.main {
  display: flex;
  height: 100vh;
}

.hero, .about {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about__title {
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  margin-top: 8px;
}

.about__itens {
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  width: 70%;
}

.hero {
  background-image: url('../../../assets/images/bg-intro.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__titles {
  width: 450px; 
  text-align: center;
}

.introbg {
  background-image: url('../../../assets/images/bg-intro-01.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.showMobile {
  display: none;
}

.avatar {
  border-radius: 50%;
  max-width: 100%;
  width: 260px;
}

.logoER {
  width: 300px;
}

@media(max-width: 800px) {
  body {
    overflow: hidden;
  }

  .showMobile {
    display: block;
  }

  .hideMobile {
    display: none;
  }

  .avatar {
    width: 50%;
    margin-bottom: 30px;
  }

  .hero__titles {
    display: none;
  }

  .logoER {
    width: 70%;
  }

  .about__buttons{
    flex-direction: column;
    gap: 5px;    
  }
}