.main {
  display: flex;
  height: 99vh;
}

.hero, .about {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about__title {
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  margin-top: 8px;
}

.about__itens {
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  width: 70%;
}

.about__buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin-top: 20px;
  gap: 30px;
}

.about__buttons button {
  border: none;
  border-radius: 10px;
  background-color: #0CA88E;
  width: 160px;
  padding: 10px;
  margin: 16px 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.about__buttons button:hover {
  box-shadow: 4px 4px 4px #fff;
  border: 0.1px solid #fff;
}

.hero {
  background-image: url('../../../assets/images/bg-intro.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__titles {
  width: 450px; 
  text-align: center;
}

.introbg {
  background-image: url('../../../assets/images/bg-intro-01.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.showMobile {
  display: none;
}

.avatar {
  border-radius: 50%;
  max-width: 100%;
  width: 260px;
}

@media(max-width: 800px) {
  .showMobile {
    display: block;
  }

  .hideMobile {
    display: none;
  }

  .avatar {
    max-width: 240px;
    margin-bottom: 30px;
  }

  .hero__titles {
    display: none;
  }
}

.modal-backdrop {
  z-index: -1 !important;
}