.about__buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  width: 75%;
  margin: auto;
  gap: 1px;
  /* border: 2px solid red; */
}

.about__buttons button {
  border: none;
  border-radius: 10px;
  background-color: #0CA88E;
  width: 160px;
  height: 42px;
  padding: 10px;
  margin: 6px 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.about__buttons button:hover {
  box-shadow: 4px 4px 4px #fff;
  border: 0.1px solid #fff;
}

/* @media(max-width: 800px) {
  .about__buttons{
    grid-template-columns: repeat(2, 1fr);  
    width: 100% !important;
  }

  .about__buttons button {
    max-width: 100% !important;
    width: 140px !important;
  };  
} */

@media(max-width: 1400px) {
  .about__buttons{
    grid-template-columns: repeat(2, 1fr);  
    width: 100%;
  }

  .about__buttons button {
    max-width: 100%;
    width: 200px;
    padding: 5px;
    margin: 6px 0;
  }
}