.about___itens {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.about___itens img {
 width: 40px;
}

.about___itens p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(100% / 3);
  gap: 8px;
}

.about___itens p, .textos {
  font-size: 15px;
}

@media (max-width: 600px) {
  .about___itens p, .textos {
    font-size: 11px !important;
  }

  .about___itens img {
    width: 30px !important;
   }
}

@media (max-width: 1400px) {
  .about___itens p, .textos {
    font-size: 12px;
  }

  .about___itens img {
    width: 40px;
   }
}
